#header-logo {
  height: 60px;
}

.header-link {
  padding-left: 10px;
  padding-top: 10px;
  color: black;
  float: right;
  text-decoration: none;
}

.header-link:hover {
  text-decoration: underline;
}