#header-logo {
  height: 60px;
}

.header-link {
  padding-left: 10px;
  float: right;
  color: grey;
  text-decoration: none;
  transition: 200ms;
}

.header-link:hover {
  color: black;
  transition: 200ms;
}